@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.rotation-anim {
  transform: translate(-50%, -50%);
  animation: rotation 1s infinite linear;
}

/* p-2 text-[20px] flex items-center hover:text-[#2266AA] cursor-pointer */
.icon-link {
  padding: 0.5rem;
  font-size: 20px;
  cursor: pointer;
}

.icon-link:hover {
  color: #2266AA;
}
