@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.rotation-anim {
  transform: translate(-50%, -50%);
  animation: rotation 1s infinite linear;
}